<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
<!--                <property name="driver" value="org.h2.Driver"/>-->
                <property name="driver" value="${driver}"/>
<!--                <property name="url" value="jdbc:h2:tcp://localhost:4321/~/test;MODE=MYSQL"/>-->
                <property name="url" value="${url}"/>
<!--                <property name="username" value="sa"/>-->
                <property name="username" value="${userName}"/>
<!--                <property name="password" value=""/>-->
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="zozo.interface_adator.dao.CartMapper"/>
        <mapper class="zozo.interface_adator.dao.CartItemMapper"/>
    </mappers>
</configuration>